Repository Xesenix/generator-xes-project: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint -i -p, prettier --write --parser=json, markdownlint --fix

.lintstagedrc.json:

{
	"*.js": [
		"eslint --fix"
	],
	"{*.json,.eslintrc,.prettierrc,.markdownlint}": [
		"jsonlint -i -p"
	],
	"*.jsonp": [
		"prettier --write --parser=json"
	],
	"*.md": [
		"markdownlint --fix"
	]
}

feat: generators utilities library
  lib/colors.js
  lib/generator.js
  lib/prompts.js
  lib/utils.js
  lib/validators.js
Due: eslint --fix

feat: npm generator
  __tests__/npm.spec.js
  __tests__/utils/utils.js
  generators/npm/index.js
Due: eslint --fix

feat: editorconfig generator
  __tests__/editorconfig.spec.js
  __tests__/fixture/editorconfig.js
  __tests__/utils/extended-test-result.js
  __tests__/utils/format.js
  generators/editorconfig/index.js
  generators/editorconfig/templates/.editorconfig
Due: eslint --fix

feat: git generator
  __tests__/git.spec.js
  generators/git/index.js
Due: eslint --fix

feat: tslint generator
  .lintstagedrc.json
  __tests__/fixture/tslintconfig.js
  __tests__/tslint.spec.js
  generators/tslint/index.js
  generators/tslint/templates/tslint.json
Due: eslint --fix, jsonlint -i -p

feat: base generator compose preventing duplicated generators
  .markdownlint.jsonp
  __tests__/editorconfig.spec.js
  __tests__/git.spec.js
  __tests__/npm.spec.js
  __tests__/tslint.spec.js
  lib/colors.js
  lib/generator.js
  lib/utils.js
Due: eslint --fix, prettier --write --parser=json

fix: handle git ignore download errors
  __tests__/git.spec.js
  generators/git/index.js
Due: eslint --fix

build: vscode setup
  .vscode/extensions.json
  .vscode/settings.json
  package-lock.json
  package.json
Due: jsonlint -i -p

feat: editorconfig handle vscode plugins recommendation
  __tests__/editorconfig.spec.js
  generators/editorconfig/index.js
Due: eslint --fix

tests: handle editorConfigGenerated expectation
  __tests__/utils/format.js
Due: eslint --fix

fix: awaiting addDependencies
  generators/npm/index.js
  generators/tslint/index.js
Due: eslint --fix

build(lintstaged): json linting
  .editorconfig
  .lintstagedrc
  .lintstagedrc.json
  .markdownlint.jsonc
  .markdownlint.jsonp
  generators/editorconfig/templates/.editorconfig
  package-lock.json
  package.json
  readme.md
Due: jsonlint -i -p, prettier --write --parser=json, markdownlint --fix

feat(tslint): group imports
  __tests__/fixture/tslintconfig.js
  generators/tslint/templates/tslint.json
Due: eslint --fix, jsonlint -i -p

fix: awaiting addDependencies
  generators/git/index.js
Due: eslint --fix

docs(lintstaged): json linting
  readme.md
Due: markdownlint --fix

tests(editorconfig): handle multi file type sections
  __tests__/fixture/editor-config.js
  __tests__/fixture/tslint-config.js
  __tests__/utils/extended-test-result.js
  __tests__/utils/format.js
  package-lock.json
  package.json
Due: eslint --fix, jsonlint -i -p

build(lintstaged): handle .editorconfig setup linting
  .editorconfig
  .lintstagedrc
  __tests__/fixture/editor-config.js
  __tests__/utils/format.js
  generators/editorconfig/index.js
  generators/editorconfig/templates/.editorconfig
  package-lock.json
  package.json
  readme.md
Due: eslint --fix, jsonlint -i -p, markdownlint --fix

feat(vscode): vscode settings generator
  __tests__/fixture/vscode-settings.js
  __tests__/utils/format.js
  __tests__/vscode.spec.js
  generators/vscode/index.js
  generators/vscode/templates/settings.json
Due: eslint --fix, jsonlint -i -p

feat(markdownlint): generator for markdownlint
  .lintstagedrc
  __tests__/fixture/markdownlint-config.js
  __tests__/markdownlint.spec.js
  __tests__/utils/extended-test-result.js
  __tests__/utils/format.js
  generators/markdownlint/index.js
  generators/markdownlint/templates/.markdownlint.jsonc
  package-lock.json
  package.json
Due: eslint --fix, jsonlint -i -p

refactor(generators): handling of configuration inputs
  src/generators/app/index.js
  src/generators/docs/index.js
  src/generators/editorconfig/index.js
  src/generators/eslint/index.js
  src/generators/git/index.js
  src/generators/i18n/index.js
  src/generators/karma/index.js
  src/generators/lint/index.js
  src/generators/markdownlint/index.js
  src/generators/npm/index.js
  src/generators/tslint/index.js
  src/generators/typescript/index.js
  src/generators/vscode/index.js
  src/generators/webpack/index.js
Due: eslint --fix

feat(eslint): configuration update
  src/generators/eslint/index.js
  src/generators/eslint/templates/.eslintrc
Due: eslint --fix, jsonlint -i -p

build: eslint configuration
  .eslintrc
  .vscode/extensions.json
  .vscode/settings.json
  package-lock.json
  package.json
Due: jsonlint -i -p

feat(babel): babel configuration generator
  src/generators/app/index.js
  src/generators/babel/index.js
  src/generators/babel/templates/.babelrc
Due: eslint --fix

refactor: format code
  __tests__/editorconfig.spec.js
  __tests__/fixture/editor-config.js
  __tests__/fixture/markdownlint-config.js
  __tests__/fixture/tslint-config.js
  __tests__/fixture/vscode-settings.js
  __tests__/npm.spec.js
  __tests__/shared/editorconfig.js
Due: eslint --fix

chore: remove validate-commit-msg and eclint they are not supported
  src/generators/editorconfig/index.js
  src/generators/git/index.js
Due: eslint --fix

build: husky more problems then help
  .husky/pre-commit
  .lintstagedrc
  __tests__/git.spec.js
  package-lock.json
  package.json
  src/generators/git/index.js
  src/lib/generator.js
Due: eslint --fix, jsonlint -i -p
